In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [13]:
#load dataset 

df =pd.read_csv('Ecommerce.csv')
df.head()

   customer_id  session_id  ... revenue_normalized  location
0         1803           0  ...           0.000000       209
1         7964           1  ...           0.000000       213
2         6890           2  ...           0.000000        10
3         4949           3  ...           0.305504        46
4         4896           4  ...           0.000000       118

[5 rows x 29 columns]

In [16]:
# sirf required columns uthao
dataset= df[["customer_id", "session_id", "product_id", "product_category","unit_price","quantity", "purchased"]]
dataset.to_csv("new_ecommerce_data.csv", index=False)
dataset.head()

   customer_id  session_id  product_id  ...  unit_price  quantity  purchased
0         1803           0         894  ...      651.57         1          0
1         7964           1         844  ...      945.27         4          0
2         6890           2         865  ...      400.44         4          0
3         4949           3         851  ...     1268.54         2          1
4         4896           4         794  ...      880.81         3          0

[5 rows x 7 columns]

In [15]:
#create cart values column ka naam